<div id="app" class="flex center w-50 hidden">
    <div class="flex f-row center mb-3">
        <input type="text" class="form-control w-75 mr-3 text-center" id="token" name="token" placeholder="" readonly>
        <button type="submit" class="copyBtn btn btn-primary w-25" data-clipboard-target="#token">COPY</button>
    </div>
    <div class="flex f-row center mb-3">
        <input type="text" class="form-control w-75 mr-3 text-center" id="jointoken" name="jointoken" placeholder="" readonly>
        <button type="submit" class="copyBtn btn btn-primary w-25" data-clipboard-target="#jointoken">COPY</button>
    </div>
    <div class="alert alert-info mt-3" role="alert">
        You're successfully authenticated. Simply copy and paste the JWT and token provided above in your bot to join.
    </div>
</form>