<form id="joinForm" class="flex center w-50" action="#">
    <input type="text" class="form-control w-100 mb-3 text-center" id="zoomlink" name="zoomlink" placeholder="Enter Zoom meeting ID or link">
    <select class="form-select mb-3" id="zoomrole" name="zoomrole" aria-label="select">
        <option value="" selected>Your Role</option>
        <option value="1" >Host</option>
        <option value="0" >Participant</option>
    </select>
    <button type="submit" class="btn btn-primary w-100">JOIN MEETING</button>
</form>